#topnav {
  overflow: hidden;
}

#topnav a {
  float: right;
  font-family: arial, sans-serif;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 13px;
}

#topnav a:hover {
  text-decoration: underline;
}

#btmnav {
  background-color: grey;
  font-family: arial, sans-serif;
  color: rgba(0,0,0,.54);
  border-bottom: 1px solid #e4e4e4;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
}

#logo {
  height: 233px;
  margin-top: 50px;
}

#search {
  border: medium none;
  padding: 10px;
  margin: 0px;
  width: 40%;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16),0 0 0 1px rgba(0,0,0,0.08);
  background: tranparent;
}

.btn {
  background-color: #f2f2f2;
  font-family: arial, sans-serif;
  font-weight: bold;
  color: #757575;
  font-size: 14px;
  border: 1px solid #f2f2f2;
  border-radius: 2px;
  padding: 0 16px;
  margin: 11px 4px;
  height: 36px;
  line-height: 27px;
  text-align: center;
}

.btn:hover {
  background-color: #f0f2f3;
  color:black;
  border: 1px solid #D3D3D3;

}
